@model IEnumerable<ASPMotoDrive.Models.Model>

@{
    ViewData["Title"] = "Index";
}

<h1>Модели</h1>

<p>
    <a asp-action="Create">Създай </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span class="table-heading">Модел</span>
            </th>
            <th>
                <span class="table-heading">Марка</span>
            </th>
            <th>
                <span class="table-heading">Година на производство</span>
            </th>
            <th>
                <span class="table-heading">Държава</span>
            </th>
            <th>
                <span class="table-heading">Регистрация в системата</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brands.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfManuf)г.
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryOfManuf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRegister)
                </td>
                <td>

                    @{
                        if(User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                        
                        }
                      
                }
                </td>
            
        </tr>
        }
    </tbody>
</table>
