@model IEnumerable<ASPMotoDrive.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
<thead>
    <tr>
        <th>
            Потребител
        </th>
            <th>
                Дата на поръчката
            </th>
    </tr>
    
      
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Users != null)
                {
                    @item.Users.UserName
                }
                else
                {
                    <span>User not found</span>
                }
            </td>



            <td>
                @Html.DisplayFor(modelItem => item.DateRegister)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
    }
</tbody>
</table>
