@model IEnumerable<ASPMotoDrive.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>Потребител</th>

            <th>Мотоциклет</th>


            <th>
                Описание
            </th>

            <th>
                Брой
            </th>
            <th>
                Дата на регистрация
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motorcycles.Id)
                </td>
               

                <td>
                    @Html.DisplayFor(modelItem => item.DateRegister)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
