@model ASPMotoDrive.Models.Motorcycle

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли за  @Html.DisplayFor(model => model.Models.Name) </h1>

<div>
    <h4>Motorcycle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Модел
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Models.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeUsage)
        </dt>
        <dd class = "col-sm-10">
            Нов/Употребяван
        </dd>
        <dt class="col-sm-2">
            Пробег
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mileage)км
        </dd>
        <dt class="col-sm-2">
            Категория
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            #Каталожен номер
        </dt>
        <dd class = "col-sm-10">
            #@Html.DisplayFor(model => model.CatalogueNumber)
        </dd>
        <dt class = "col-sm-2">
            Мощност
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnginePower)cc
        </dd>
        <dt class = "col-sm-2">
            Изображение
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImageURL)" alt="Alternate Text" />
        </dd>
        <dt class = "col-sm-2">
           Цена
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)лв
        </dd>
        <dt class = "col-sm-2">
           Мотоциклет/Скутер
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeMotor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
